/*
 * Variables Used Across other files
 */
/* Sizes */
/* Defaults */
/*
 * OSF Color Palette
 */
.bg-color-blue {
  background-color: #204762; }

.bg-color-hover {
  background-color: #E0EBF3; }

.bg-color-light {
  background-color: #EEEEEE; }

.bg-color-alt {
  background-color: #B8ECBF; }

.bg-color-select {
  background-color: #337AB7; }

.bg-color-grey {
  background-color: #333333; }

/*
 * Layout and Sizing Classes
 */
.container-full {
  width: 100%; }

/* Build Margins */
.m-t-xs {
  margin-top: 5px; }

.m-b-xs {
  margin-bottom: 5px; }

.m-l-xs {
  margin-left: 5px; }

.m-r-xs {
  margin-right: 5px; }

.m-xs {
  margin: 5px; }

.m-t-sm {
  margin-top: 10px; }

.m-b-sm {
  margin-bottom: 10px; }

.m-l-sm {
  margin-left: 10px; }

.m-r-sm {
  margin-right: 10px; }

.m-sm {
  margin: 10px; }

.m-t-md {
  margin-top: 15px; }

.m-b-md {
  margin-bottom: 15px; }

.m-l-md {
  margin-left: 15px; }

.m-r-md {
  margin-right: 15px; }

.m-md {
  margin: 15px; }

.m-t-lg {
  margin-top: 25px; }

.m-b-lg {
  margin-bottom: 25px; }

.m-l-lg {
  margin-left: 25px; }

.m-r-lg {
  margin-right: 25px; }

.m-lg {
  margin: 25px; }

.m-t-xl {
  margin-top: 50px; }

.m-b-xl {
  margin-bottom: 50px; }

.m-l-xl {
  margin-left: 50px; }

.m-r-xl {
  margin-right: 50px; }

.m-xl {
  margin: 50px; }

/* Build paddings */
.p-t-xs {
  padding-top: 5px; }

.p-b-xs {
  padding-bottom: 5px; }

.p-l-xs {
  padding-left: 5px; }

.p-r-xs {
  padding-right: 5px; }

.p-xs {
  padding: 5px; }

.p-t-sm {
  padding-top: 10px; }

.p-b-sm {
  padding-bottom: 10px; }

.p-l-sm {
  padding-left: 10px; }

.p-r-sm {
  padding-right: 10px; }

.p-sm {
  padding: 10px; }

.p-t-md {
  padding-top: 15px; }

.p-b-md {
  padding-bottom: 15px; }

.p-l-md {
  padding-left: 15px; }

.p-r-md {
  padding-right: 15px; }

.p-md {
  padding: 15px; }

.p-t-lg {
  padding-top: 25px; }

.p-b-lg {
  padding-bottom: 25px; }

.p-l-lg {
  padding-left: 25px; }

.p-r-lg {
  padding-right: 25px; }

.p-lg {
  padding: 25px; }

.p-t-xl {
  padding-top: 50px; }

.p-b-xl {
  padding-bottom: 50px; }

.p-l-xl {
  padding-left: 50px; }

.p-r-xl {
  padding-right: 50px; }

.p-xl {
  padding: 50px; }

/*
 * Typography Classes
 */
h1, h2, h3, h4, h1 small {
  font-weight: 300; }

/* Font Weights */
.f-w-xs {
  font-weight: 200; }

.f-w-sm {
  font-weight: 300; }

.f-w-md {
  font-weight: 400; }

.f-w-lg {
  font-weight: 500; }

.f-w-xl {
  font-weight: 600; }

/*
 * Bootstrap Overrides
 */
.btn-default {
  background-color: #F8F8F8; }

.btn {
  border-radius: 2px; }

/* FLAT PANELS */
.panel {
  border-radius: 0; }

.panel-heading {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.panel-footer {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.panel-title {
  display: inline-block;
  float: left; }

/* FLAT MODALS */
.modal-footer {
  border-top: none; }

/* FLAT ALERTS */
.alert {
  border-radius: 2px;
  padding: 10px 15px; }

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px; }

/* FIX BORDER RADIUS ACROSS THE BOARD*/
.well, .progress, .modal-content {
  border-radius: 2px; }

/* TABS */
.nav-tabs > li > a {
  border: 1px solid transparent;
  border-radius: 0; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #F8F8F8;
  border: none;
  border-bottom: 2px solid #204762; }

.nav-tabs > li > a:hover {
  border-color: transparent;
  border-bottom: none; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #f8f8f8; }

/* Navbar */
.osf-navbar {
  background-color: #214762;
  box-shadow: 0 0 3px #AEADAD;
  min-height: 40px; }

.brand-version {
  font-size: 8px; }

.navbar {
  background: #204762;
  border-bottom: 1px solid #eee; }

.navbar a:hover {
  color: #E0EBF3; }

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: #FFF; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FFF;
  background: rgba(187, 187, 187, 0.2); }

.osf-navbar .navbar-nav > li > a {
  padding-top: 8px;
  padding-bottom: 7px;
  line-height: 27px; }

.osf-navbar .navbar-nav > li > a,
.osf-project-navbar li > a {
  padding-left: 15px;
  padding-right: 15px; }

.navbar-brand {
  margin-left: 0 !important;
  height: 42px !important;
  line-height: 27px;
  padding: 8px 15px 7px; }

.osf-navbar-logo {
  float: left;
  margin-right: 8px; }

.osf-navbar .navbar-form {
  margin: 5px 0 2px; }

.osf-gravatar > img {
  border: 1px solid #CDCDCD;
  border-radius: 13px;
  margin-right: 5px; }

/*
 * Components specific to OSF
 */
/* LOADER */
.logo-spin {
  -webkit-animation: spin 3s infinite linear, opacity 3s infinite linear;
  animation: spin 3s infinite linear, opacity 3s infinite linear;
  display: inline-block; }

.logo-spin.logo-xs img {
  width: 10px; }

.logo-spin.logo-sm img {
  width: 20px; }

.logo-spin.logo-md img {
  width: 30px; }

.logo-spin.logo-lg img {
  width: 50px; }

.logo-spin.logo-xl img {
  width: 100px; }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes opacity {
  0% {
    opacity: 0.1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }
@-webkit-keyframes opacity {
  0% {
    opacity: 0.1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }
@keyframes opacity {
  0% {
    opacity: 0.1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }
/* OSF BOX */
.osf-box {
  border: 1px solid #eee;
  border-radius: 0;
  background: #ffffff; }

.osf-box.box-round {
  border-radius: 5px; }

.osf-box.box-lt {
  background: #E0EBF3;
  color: #333333; }

.osf-box.box-dk {
  background-color: #337AB7;
  color: white; }

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px; }

.theme-showcase > p > .btn {
  margin: 5px 0; }

.theme-showcase .navbar .container {
  width: auto;
  color: blue; }
