/* Sizes */
.bg-color-blue {
  background-color: #204762; }

.bg-color-hover {
  background-color: #E0EBF3; }

.bg-color-light {
  background-color: #EEEEEE; }

.bg-color-alt {
  background-color: #B8ECBF; }

.bg-color-select {
  background-color: #337AB7; }

.bg-color-grey {
  background-color: #333333; }

.container-full {
  width: 100%; }

/* Build Margins */
.m-t-xs {
  margin-top: 5px; }

.m-b-xs {
  margin-bottom: 5px; }

.m-l-xs {
  margin-left: 5px; }

.m-r-xs {
  margin-right: 5px; }

.m-xs {
  margin: 5px; }

.m-t-sm {
  margin-top: 10px; }

.m-b-sm {
  margin-bottom: 10px; }

.m-l-sm {
  margin-left: 10px; }

.m-r-sm {
  margin-right: 10px; }

.m-sm {
  margin: 10px; }

.m-t-md {
  margin-top: 15px; }

.m-b-md {
  margin-bottom: 15px; }

.m-l-md {
  margin-left: 15px; }

.m-r-md {
  margin-right: 15px; }

.m-md {
  margin: 15px; }

.m-t-lg {
  margin-top: 25px; }

.m-b-lg {
  margin-bottom: 25px; }

.m-l-lg {
  margin-left: 25px; }

.m-r-lg {
  margin-right: 25px; }

.m-lg {
  margin: 25px; }

.m-t-xl {
  margin-top: 50px; }

.m-b-xl {
  margin-bottom: 50px; }

.m-l-xl {
  margin-left: 50px; }

.m-r-xl {
  margin-right: 50px; }

.m-xl {
  margin: 50px; }

/* Build paddings */
.p-t-xs {
  padding-top: 5px; }

.p-b-xs {
  padding-bottom: 5px; }

.p-l-xs {
  padding-left: 5px; }

.p-r-xs {
  padding-right: 5px; }

.p-xs {
  padding: 5px; }

.p-t-sm {
  padding-top: 10px; }

.p-b-sm {
  padding-bottom: 10px; }

.p-l-sm {
  padding-left: 10px; }

.p-r-sm {
  padding-right: 10px; }

.p-sm {
  padding: 10px; }

.p-t-md {
  padding-top: 15px; }

.p-b-md {
  padding-bottom: 15px; }

.p-l-md {
  padding-left: 15px; }

.p-r-md {
  padding-right: 15px; }

.p-md {
  padding: 15px; }

.p-t-lg {
  padding-top: 25px; }

.p-b-lg {
  padding-bottom: 25px; }

.p-l-lg {
  padding-left: 25px; }

.p-r-lg {
  padding-right: 25px; }

.p-lg {
  padding: 25px; }

.p-t-xl {
  padding-top: 50px; }

.p-b-xl {
  padding-bottom: 50px; }

.p-l-xl {
  padding-left: 50px; }

.p-r-xl {
  padding-right: 50px; }

.p-xl {
  padding: 50px; }

h1, h2, h3, h4 {
  font-weight: 300; }

/* Font Weights */
.f-w-xs {
  font-weight: 200; }

.f-w-sm {
  font-weight: 300; }

.f-w-md {
  font-weight: 400; }

.f-w-lg {
  font-weight: 500; }

.f-w-xl {
  font-weight: 600; }

/* Bootstrap overrides */
.btn-default {
  background-color: #F8F8F8; }

.btn {
  border-radius: 2px; }

/* FLAT PANELS */
.panel {
  border-radius: 0; }

.panel-heading {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.panel-footer {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.panel-title {
  display: inline-block;
  float: left; }

/* FLAT MODALS */
.modal-content {
  border-radius: 0; }

.modal-footer {
  border-top: none; }

/* FLAT ALERTS */
.alert {
  border-radius: 2px;
  padding: 10px 15px; }

.alert-dismissable, .alert-dismissible {
  padding-right: 35px; }

.navbar {
  background: #204762;
  border-bottom: 1px solid #eee; }

.navbar a {
  color: #E0EBF3; }

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px; }

.theme-showcase > p > .btn {
  margin: 5px 0; }

.theme-showcase .navbar .container {
  width: auto;
  color: blue; }
