/*
 * Variables Used Across other files
 */
/* Sizes */
/* Defaults */
/*
 * OSF Color Palette
 */
.bg-color-blue {
  background-color: #204762; }

.bg-color-hover {
  background-color: #E0EBF3; }

.bg-color-light {
  background-color: #EEEEEE; }

.bg-color-alt {
  background-color: #B8ECBF; }

.bg-color-select {
  background-color: #337AB7; }

.bg-color-grey {
  background-color: #333333; }

/*
 * Layout and Sizing Classes
 */
.container-full {
  width: 100%; }

/* Build Margins */
.m-t-xs {
  margin-top: 5px; }

.m-b-xs {
  margin-bottom: 5px; }

.m-l-xs {
  margin-left: 5px; }

.m-r-xs {
  margin-right: 5px; }

.m-xs {
  margin: 5px; }

.m-v-xs {
  margin-top: 5px;
  margin-bottom: 5px; }

.m-h-xs {
  margin-left: 5px;
  margin-right: 5px; }

.m-t-sm {
  margin-top: 10px; }

.m-b-sm {
  margin-bottom: 10px; }

.m-l-sm {
  margin-left: 10px; }

.m-r-sm {
  margin-right: 10px; }

.m-sm {
  margin: 10px; }

.m-v-sm {
  margin-top: 10px;
  margin-bottom: 10px; }

.m-h-sm {
  margin-left: 10px;
  margin-right: 10px; }

.m-t-md {
  margin-top: 15px; }

.m-b-md {
  margin-bottom: 15px; }

.m-l-md {
  margin-left: 15px; }

.m-r-md {
  margin-right: 15px; }

.m-md {
  margin: 15px; }

.m-v-md {
  margin-top: 15px;
  margin-bottom: 15px; }

.m-h-md {
  margin-left: 15px;
  margin-right: 15px; }

.m-t-lg {
  margin-top: 25px; }

.m-b-lg {
  margin-bottom: 25px; }

.m-l-lg {
  margin-left: 25px; }

.m-r-lg {
  margin-right: 25px; }

.m-lg {
  margin: 25px; }

.m-v-lg {
  margin-top: 25px;
  margin-bottom: 25px; }

.m-h-lg {
  margin-left: 25px;
  margin-right: 25px; }

.m-t-xl {
  margin-top: 50px; }

.m-b-xl {
  margin-bottom: 50px; }

.m-l-xl {
  margin-left: 50px; }

.m-r-xl {
  margin-right: 50px; }

.m-xl {
  margin: 50px; }

.m-v-xl {
  margin-top: 50px;
  margin-bottom: 50px; }

.m-h-xl {
  margin-left: 50px;
  margin-right: 50px; }

/* Build paddings */
.p-t-xs {
  padding-top: 5px; }

.p-b-xs {
  padding-bottom: 5px; }

.p-l-xs {
  padding-left: 5px; }

.p-r-xs {
  padding-right: 5px; }

.p-xs {
  padding: 5px; }

.p-v-xs {
  padding-top: 5px;
  padding-bottom: 5px; }

.p-h-xs {
  padding-left: 5px;
  padding-right: 5px; }

.p-t-sm {
  padding-top: 10px; }

.p-b-sm {
  padding-bottom: 10px; }

.p-l-sm {
  padding-left: 10px; }

.p-r-sm {
  padding-right: 10px; }

.p-sm {
  padding: 10px; }

.p-v-sm {
  padding-top: 10px;
  padding-bottom: 10px; }

.p-h-sm {
  padding-left: 10px;
  padding-right: 10px; }

.p-t-md {
  padding-top: 15px; }

.p-b-md {
  padding-bottom: 15px; }

.p-l-md {
  padding-left: 15px; }

.p-r-md {
  padding-right: 15px; }

.p-md {
  padding: 15px; }

.p-v-md {
  padding-top: 15px;
  padding-bottom: 15px; }

.p-h-md {
  padding-left: 15px;
  padding-right: 15px; }

.p-t-lg {
  padding-top: 25px; }

.p-b-lg {
  padding-bottom: 25px; }

.p-l-lg {
  padding-left: 25px; }

.p-r-lg {
  padding-right: 25px; }

.p-lg {
  padding: 25px; }

.p-v-lg {
  padding-top: 25px;
  padding-bottom: 25px; }

.p-h-lg {
  padding-left: 25px;
  padding-right: 25px; }

.p-t-xl {
  padding-top: 50px; }

.p-b-xl {
  padding-bottom: 50px; }

.p-l-xl {
  padding-left: 50px; }

.p-r-xl {
  padding-right: 50px; }

.p-xl {
  padding: 50px; }

.p-v-xl {
  padding-top: 50px;
  padding-bottom: 50px; }

.p-h-xl {
  padding-left: 50px;
  padding-right: 50px; }

/*
 * Typography Classes
 */
h1, h2, h3, h4, h1 small {
  font-weight: 300; }

/* Font Weights */
.f-w-xs {
  font-weight: 200; }

.f-w-sm {
  font-weight: 300; }

.f-w-md {
  font-weight: 400; }

.f-w-lg {
  font-weight: 500; }

.f-w-xl {
  font-weight: 600; }

.link-solid,
.link-solid:hover {
  border-bottom: 1px solid #337AB7;
  text-decoration: none; }

.link-dashed,
.link-dashed:hover {
  border-bottom: 1px dashed #337AB7;
  text-decoration: none; }

.text-smaller {
  font-size: 0.9em; }

.text-bigger {
  font-size: 1.1em; }

.osf-editable {
  border-bottom: 1px dotted #333333; }

.osf-editable:hover {
  cursor: pointer;
  background-color: #f8f8f8; }

.break-word {
  word-wrap: break-word; }

p, a, span {
  word-wrap: break-word; }

/*
 * Bootstrap Overrides
 */
.btn-default {
  background-color: #f8f8f8; }

.btn {
  border-radius: 2px; }

/* FLAT PANELS */
.panel {
  border-radius: 0; }

.panel-heading {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.panel-footer {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.panel-title {
  display: inline-block;
  float: left;
  font-weight: 400; }

/* FLAT MODALS */
.modal-footer {
  border-top: none; }

/* FLAT ALERTS */
.alert {
  border-radius: 2px;
  padding: 10px 15px; }

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px; }

/* FIX BORDER RADIUS ACROSS THE BOARD*/
.well, .progress, .modal-content {
  border-radius: 2px; }

/* Normal the heading in modal-header */
.modal-header > h3 {
  font-weight: normal; }

/* TABS */
.nav-tabs > li > a {
  border: 1px solid transparent;
  border-radius: 0; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #f8f8f8;
  border: none;
  border-bottom: 2px solid #204762; }

.nav-tabs > li > a:hover {
  border-color: transparent;
  border-bottom: none; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #f8f8f8; }

#navbarScope {
  top: 0px;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out; }

#navbarScope.off {
  top: -250px; }

#navbarScope a {
  color: #ffffff; }

#navbarScope a:hover {
  color: rgba(255, 255, 255, 0.8); }

#navbarScope .btn-top-login {
  padding: 2px 30px;
  margin-top: 5px;
  line-height: 1.7; }

.navbar-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075); }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
  background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075); }

.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25); }

.navbar-inverse {
  background-image: -webkit-linear-gradient(top, rgba(60, 60, 60, 0.5) 0%, rgba(34, 34, 34, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(60, 60, 60, 0.5) 0%, rgba(34, 34, 34, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#803c3c3c', endColorstr='#80222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-color: rgba(8, 8, 8, 0.5); }

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, rgba(8, 8, 8, 0.5) 0%, rgba(15, 15, 15, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.5) 0%, rgba(15, 15, 15, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80080808', endColorstr='#800f0f0f', GradientType=0);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25); }

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.navbar {
  min-height: 50px;
  margin-bottom: 25px; }

.navbar-brand {
  float: left;
  padding: 12.5px 15px;
  font-size: 18px;
  line-height: 25px;
  height: 50px; }

.navbar-inverse {
  background-color: #214762; }

.osf-navbar-logo {
  float: left;
  margin-right: 8px; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #cccccc;
  border: 1px solid rgba(100, 100, 100, 0.3);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }

.dropdown-menu.pull-right {
  right: 0;
  left: auto; }

.dropdown-menu .divider {
  height: 1px;
  margin: 11.5px 0;
  overflow: hidden;
  background-color: #e5e5e5; }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.8;
  color: #ffffff;
  white-space: nowrap; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #428bca;
  background-color: #222222; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7; }

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777; }

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; }

.open > .dropdown-menu {
  display: block; }

.open > a {
  outline: 0; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.8;
  color: #777777;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: ""; }

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px; }

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0; }

  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto; } }
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #222222 0%, #151515 100%);
  background-image: linear-gradient(to bottom, #222222 0%, #151515 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff151515', GradientType=0);
  background-color: #151515; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
  background-color: #2e6da4; }

#menuLogin .form-control {
  width: 100%; }

.navbar-default {
  background-color: #214762; }

.sign-in {
  padding-top: 5px; }

#menuLogin {
  margin-top: 6px; }

#menuLogin {
  padding: 20px 20px 0 20px;
  width: 300px; }

.nav-profile {
  height: 50px; }

/* Editable Overrides */
.editable {
  cursor: pointer; }

.editable,
.editable-click {
  border-bottom: none; }

.editable:hover {
  background-color: #E0EBF3; }

/* Progress Bar Sizes Override */
/* Build Margins */
.progress-bar-xs {
  height: 5px; }

.progress-bar-sm {
  height: 10px; }

.progress-bar-md {
  height: 15px; }

.progress-bar-lg {
  height: 25px; }

.progress-bar-xl {
  height: 50px; }

/*
 * Components specific to OSF
 */
/* Box shadow */
.box-shadow-xs {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); }

.box-shadow-sm {
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3); }

.box-shadow-md {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3); }

.box-shadow-lg {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3); }

.box-shadow-xl {
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.4); }

/* LOADER */
.logo-spin {
  -webkit-animation: spin 3s infinite linear, opacity 3s infinite linear;
  animation: spin 3s infinite linear, opacity 3s infinite linear;
  display: inline-block; }

.logo-spin.logo-xs img {
  width: 10px; }

.logo-spin.logo-sm img {
  width: 20px; }

.logo-spin.logo-md img {
  width: 30px; }

.logo-spin.logo-lg img {
  width: 50px; }

.logo-spin.logo-xl img {
  width: 100px; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes opacity {
  0% {
    opacity: 0.1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }
@keyframes opacity {
  0% {
    opacity: 0.1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }
/* OSF BOX */
.osf-box {
  border: 1px solid #eee;
  border-radius: 0;
  background-color: #ffffff; }

.box-round {
  border-radius: 5px; }

.osf-box-lt {
  background-color: #E0EBF3;
  color: #333333; }

.osf-box-dk {
  background-color: #337AB7;
  color: white; }

/* PROJECT NAVIGATION */
.osf-project-navbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 50px;
  background-color: #EEE;
  z-index: 99;
  box-shadow: 0 0 9px -1px #838383;
  border-radius: 0;
  border: none;
  min-height: 40px !important; }

.osf-project-navbar li > a {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px; }

.osf-project-navbar .navbar-nav li > a:hover {
  background-color: #DADADA; }

.osf-project-navbar li.active,
.osf-project-navbar li.active a:hover,
.osf-project-navbar li:hover {
  background-color: #337AB7; }

.osf-project-navbar li.active a {
  color: white; }

.osf-project-navbar a.project-title {
  font-weight: 300;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.osf-project-navbar li > a {
  padding-left: 15px;
  padding-right: 15px; }

@media (max-width: 767px) {
  .osf-project-navbar li > a {
    padding-left: 30px;
    padding-right: 30px; } }
/* Form Inputs */
.noresize {
  resize: none; }

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px; }

.theme-showcase > p > .btn {
  margin: 5px 0; }

.theme-showcase .navbar .container {
  width: auto;
  color: blue; }

.osf-selected {
  background-color: #337AB7;
  color: white; }

body {
  -webkit-font-smoothing: antialiased; }
