/*
 * Components specific to OSF
 */

/* LOADER */
.logo-spin {
  -webkit-animation: spin 3s infinite linear, opacity 3s infinite linear;
  animation: spin 3s infinite linear, opacity 3s infinite linear;
  display: inline-block;
}

@for $i from 1 to 6 {
  .logo-spin.logo-#{nth($sizes, $i) img} {
    width: unquote(nth($margins, $i)*2 + 'px');
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes opacity {
  0% {
    opacity : 0.1
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0.1
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity : 0.1
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0.1
  }
}
@keyframes opacity {
  0% {
    opacity : 0.1
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0.1
  }
}

/* OSF BOX */

.osf-box {
  border: 1px solid #eee;
  border-radius: 0;
  background: #ffffff;
}
.osf-box.box-round {
  border-radius: 5px;
}
.osf-box.box-lt {
  background: $color-hover;
  color: $color-grey;
}
.osf-box.box-dk {
  background-color: $color-select;
  color: white;
}
