.palette-box {
    width: 100%;
    height: 60px;
    padding: 5%;
}
.container-full .jumbotron {
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
}
.container-full {
    background: #204762;
}

#side-menu .affix {
    width: 200px;
    top: 10px;
}
li, p {
    font-size: 15px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #337AB7;
    background-color: inherit;
    font-weight: bold;
}

.nav>li>a {
    padding: 4px 15px;
}